@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Titillium Web", sans-serif;
  color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

//COLOR MODS
$Prim: #d39d5b;
$Sec: #ad7a51;
$Third: #30454c;
$Playfair: "Playfair Display", serif;

body {
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  color: $Prim;
}

#LoaderComplete {
  display: none;
}
#LoaderWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #30454cc5;
  backdrop-filter: blur(14.5px);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  svg {
    width: 50vw;
  }
}
header {
  background-color: white;
  width: 100%;
  height: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  position: sticky;
  top: 0;
  transition: 0.2s;
  &#Hide {
    top: -20vw;
  }
  a {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      height: 50%;
    }
  }
  #HeaderWrapper {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #Search {
    position: relative;
    width: fit-content;
    height: fit-content;
    div {
      display: flex;
      justify-content: center;
      opacity: 50%;
      &:hover {
        opacity: 100%;
      }
    }
    input {
      height: 7vw;
      width: 100%;
      padding: 2vw;
      border: 0;
      border-bottom: 1px solid gray;
      &::placeholder {
        text-transform: uppercase;
      }
    }
    button {
      width: 7vw;
      height: 7vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      border-bottom: 1px solid gray;
      background-color: white;

      svg {
        width: 50%;
        height: 50%;
      }
    }
  }
  #SearchResult {
    position: absolute;
    padding: 3vw;
    width: 100%;
    background-color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    p {
      font-size: 3vw;
    }
    a {
      color: black;
      text-decoration: underline;
      &:hover {
        font-weight: 600;
      }
    }
  }
  #HeaderNav {
    display: none;
    ul {
      display: flex;
    }
    a {
      padding-right: 10px;
      &.active {
        color: $Prim;
      }
    }
  }
  .hamburger-react {
    color: $Prim;
    fill: $Prim;
    z-index: 900;
    div {
      color: $Prim;
    }
  }
  .notActive,
  .Active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: 899;
    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6vw;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: ease-out 0.5s;
      overflow-y: hidden;

      background: #30454cc5;
      backdrop-filter: blur(14.5px);
      z-index: 9999;
      li {
        a {
          text-transform: uppercase;
          font-size: 6vw;
          color: white;
          &.active {
            color: $Prim;
          }
        }
      }
    }
  }
  .notActive {
    pointer-events: none;
    ul {
      margin-left: 100%;
    }
  }
  .Active {
    pointer-events: visiblePainted;
    ul {
      margin-left: 0%;
    }
  }
}
main {
  padding: 10vw 5vw;

  #Banner {
    width: 100%;
    display: flex;
    flex-direction: column;

    figure {
      display: flex;
      flex-direction: column;
      box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    }
    figcaption {
      border: 2px solid $Sec;
      text-align: right;
      padding: 5vw;
      p {
        font-size: 4vw;
        text-transform: uppercase;
        &.Dato {
          font-size: 5vw;
          font-weight: 600;
          padding-bottom: 3vw;
        }
      }
      hr {
        margin-bottom: 5vw;
        border: solid 1px;
      }
      h2 {
        color: $Prim;
        font-size: 7vw;
        font-family: $Playfair;
      }
      h3 {
        font-size: 5vw;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    img {
      width: 100%;
      border: 10px solid $Sec;
    }
  }

  &#Home {
    h1 {
      display: none;
    }
    #ThreeCards {
      padding-top: 10vw;
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 5vw;
      figure {
        box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
        display: flex;
        flex-direction: column;
        figcaption {
          border: 2px solid $Sec;
          text-align: right;
          padding: 5vw;
          p {
            font-size: 3vw;
            text-transform: uppercase;
            &.Dato {
              font-size: 4vw;
              font-weight: 600;
              padding-bottom: 3vw;
            }
          }
          hr {
            margin-bottom: 5vw;
            border: solid 1px;
          }
          h2 {
            color: $Prim;
            font-size: 6vw;
            font-family: $Playfair;
          }
          h3 {
            font-size: 4vw;
            text-transform: uppercase;
            font-weight: 300;
            line-height: 1;
          }
          ul {
            margin-top: 6vw;
            width: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 2vw;
            li {
              a {
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                padding: 3vw;
                background-color: $Third;
              }
              &:nth-child(2) {
                a {
                  background-color: $Prim;
                }
              }
            }
          }
        }
        img {
          width: 100%;
          border: 10px solid $Sec;
        }
      }
    }
  }
  &#Forestillingerevents {
    h1 {
      display: none;
    }
    #AllCards {
      padding-top: 10vw;
      width: 100%;
      display: flex;
      gap: 4vw;
      flex-direction: column;

      #Oversigt {
        text-align: right;
        font-family: $Playfair;
        font-size: 10vw;
        text-transform: capitalize;
        color: $Prim;
      }

      figure {
        height: 20vw;
        display: flex;
        box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
        &:hover {
          ul {
            right: 0%;
          }
        }
      }
      figcaption {
        position: relative;
        width: 100%;
        border: 2px solid $Sec;
        text-align: left;
        padding: 3vw;
        display: flex;
        overflow: hidden;
        transition: 5s;
        div {
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          &:nth-child(2) {
            width: 60%;
            padding-left: 2vw;
            flex-direction: column;
          }

          hr {
            border: solid 1px;
          }
          h2 {
            color: $Prim;
            font-size: 4.5vw;
            font-family: $Playfair;
          }
        }
        p {
          font-size: 3vw;
          text-transform: uppercase;
          &.Dato {
            font-size: 4vw;
            font-weight: 600;
            line-height: 1;
            padding-bottom: 3vw;
          }
        }
      }
      img {
        height: 100%;
        width: 20vw;
        object-fit: cover;
        border: 3px solid $Sec;
      }
      ul {
        background-color: $Sec;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        transition: 1s;
        li {
          a {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            padding: 3vw;
            background-color: $Third;
          }
          &:nth-child(2) {
            a {
              background-color: $Prim;
            }
          }
        }
      }
    }
  }
  &#EventDetails {
    h1{display: none;}
    figure {
      display: flex;
      flex-direction: column;
    }
    img {
      width: 100%;
      border: 10px solid $Sec;
    }
    figcaption {
      border: 2px solid $Sec;
      padding: 3vw;
    }
    #InfoWrapper {
      div {
        display: flex;
        justify-content: space-between;
        gap: 2vw;
        .Scene {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 3.5vw;
        }
        .Dato {
          font-size: 3.5vw;
        }
      }
      .Pris {
        text-align: right;
        font-size: 3.5vw;
        margin-top: 2vw;
      }
      hr {
        margin: 2vw 0 4vw;
      }
    }
    #TitleWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      #h1 {
        font-family: $Playfair;
        font-size: 6vw;
        display: block;
      }
      p {
        a {
          color: white;
          text-transform: uppercase;
          font-weight: 600;
          padding: 2vw;
          background-color: $Sec;
          font-size: 3vw;
        }
      }
    }
    #DetailsWrapper {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      h2 {
        font-size: 5vw;
        font-weight: 400;
      }
      p {
        a {
          color: white;
          text-transform: uppercase;
          font-weight: 600;
          padding: 2vw;
          background-color: $Sec;
          font-size: 3vw;
        }
      }
    }
    #Actors {
      display: flex;
      flex-direction: column;
      gap: 4vw;
      margin-top: 4vw;
      figure {
        &.ShowActors {
        }
        &.NotShowActors {
          display: none;
        }
      }
      figcaption {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h3 {
        font-size: 6vw;
        font-weight: 400;
        text-transform: uppercase;
        color: $Prim;
      }
      p {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        padding: 2vw;
        background-color: $Sec;
        font-size: 3vw;
      }
    }
    #Anmeldelser {
      h3 {
        font-size: 6vw;
        font-weight: 400;
        text-transform: uppercase;
        color: $Prim;
        margin-bottom: 3vw;
      }
      p {
        &:nth-child(1) {
          font-size: 4vw;
        }
        &:nth-child(2) {
          font-size: 5vw;
          font-weight: 600;
          text-transform: uppercase;
          color: $Prim;
          margin-bottom: 2vw;
        }
        &:nth-child(3) {
          font-size: 4vw;
        }
      }
      hr {
        margin: 3vw 0;
      }
      li {
        &:nth-child(2) {
          hr {
            display: none;
          }
        }
      }
    }
    footer {
      padding: 4vw;
      background-color: $Sec;
      h3 {
        color: white;
        font-weight: 400;
        margin-bottom: 2vw;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        .InputWrapper,
        .InputWrapperError {
          display: flex;
          flex-direction: column;
          gap: 1vw;
          &.InputWrapperError {
            input,
            textarea {
              border: solid 3px red;
            }
          }
          input,
          textarea {
            width: 100%;
            padding: 2vw;
            border: solid 1px gray;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #04040475;

            &.Correct {
              border: solid 1px green;
            }
            &.NotCorrect {
              border: solid 1px red;
            }
          }
        }
        span {
          color: red;
          font-size: 3.5vw;
          font-weight: 600;
        }
      }
      button {
        background-color: $Prim;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 2vw;
        margin-right: 3vw;
        box-shadow: 0px 0px 6px #04040475;
        font-weight: 600;
      }
    }
  }
  &#Bestilling {
    #Wrapper {
      display: flex;
      flex-direction: column;
      border: 0.5vw solid $Sec;
    }
    h1 {
      display: none;
    }
    img {
      width: 100%;
      height: 45vw;
      object-fit: cover;
      border: 1.5vw solid $Sec;
    }
    form {
      padding: 4vw;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .InputWrapper,
      .InputWrapperError {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        &.InputWrapperError {
          input {
            border: solid 0.5vw red;
          }
        }
        input {
          color: $Prim;
          font-weight: 600;
          width: 100%;
          padding: 2vw;
          border: solid 1px gray;
          border-radius: 5px;
          box-shadow: 0px 0px 6px #04040475;

          &::placeholder {
            opacity: 50%;
            text-transform: uppercase;
          }
          &.Correct {
            border: solid 1px green;
          }
          &.NotCorrect {
            border: solid 1px red;
          }
        }
      }
      span {
        color: red;
        font-size: 3.5vw;
      }

      button {
        background-color: $Prim;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 2vw;
        margin-right: 3vw;
        box-shadow: 0px 0px 6px #04040475;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .InputWrapper {
      &:nth-child(7) {
        margin: 3vw 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 2vw;
      }
    }
    .container {
      position: relative;
      width: 8vw;
      height: 8vw;
      border-radius: 50%;
      overflow: hidden;
      user-select: none;
      input {
        position: relative;
        opacity: 0%;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        &:checked ~ .Checkmark {
          background-color: $Third;
          border: solid $Third 3px;
        }
        &:hover ~ .Checkmark {
          background-color: $Sec;
        }
      }
      .Checkmark,
      .RedCheckmark {
        border-radius: 50%;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border: solid $Sec 3px;
        cursor: pointer;
        z-index: -1;

        &.RedCheckmark {
          background-color: $Sec;
          pointer-events: none;
          cursor: none;
        }
      }
    }
  }
  &#Minside {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    h1 {
      font-family: $Playfair;
      font-size: 10vw;
    }
    p {
      font-size: 4vw;
      padding-bottom: 1vw;
      b {
        font-weight: 600;
        color: $Prim;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 4vw;
      .InputWrapper,
      .InputWrapperError {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        &.InputWrapperError {
          input {
            border: solid 1px red;
          }
        }
        input {
          width: 50vw;
          padding: 2vw;
          border: solid 1px gray;
          border-radius: 5px;
          box-shadow: 0px 0px 6px #04040475;

          &.Correct {
            border: solid 1px green;
          }
          &.NotCorrect {
            border: solid 1px red;
          }
        }
      }
      span {
        color: red;
        font-size: 3.5vw;
      }
    }
    button {
      background-color: $Prim;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 2vw;
      margin-right: 3vw;
      box-shadow: 0px 0px 6px #04040475;
    }
    #LogoutButton {
      margin-top: 5vw;
    }
    #Admin {
      float: right;
      display: flex;
      justify-content: right;
      flex-direction: column;

      button {
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
      }
    }
    .EditWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      h3 {
        margin-top: 4vw;
        font-size: 5vw;
        text-transform: uppercase;
      }
    }
    table {
      padding-top: 4vw;
      width: 100%;
      thead {
        tr {
          th {
            text-align: left;
            text-transform: uppercase;
          }
        }
      }
      tbody {
        hr {
          width: 100%;
        }
        tr {
          td {
            border-bottom: solid 1px gray;

            button {
              float: right;
              background-color: #30454c00;
              color: none;
              border: none;
              width: 5vw;
              border-radius: 0;
              padding: 0vw;
              margin-right: 0;
              box-shadow: none;
              svg {
                fill: $Sec;
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .InputWrapper,
      .InputWrapperError {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        &.InputWrapperError {
          input,
          textarea {
            border: solid 3px red;
          }
        }
        input,
        textarea {
          width: 100%;
          padding: 2vw;
          border: solid 1px gray;
          border-radius: 5px;
          box-shadow: 0px 0px 6px #04040475;

          &.Correct {
            border: solid 1px green;
          }
          &.NotCorrect {
            border: solid 1px red;
          }
        }
      }
      span {
        color: red;
        font-size: 3.5vw;
        font-weight: 600;
      }
    }
    button {
      background-color: $Prim;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 2vw;
      margin-right: 3vw;
      box-shadow: 0px 0px 6px #04040475;
      font-weight: 600;
    }
  }
  &#Edit {
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2vw;
      .InputWrapper,
      .InputWrapperError {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        &.InputWrapperError {
          input,
          textarea {
            border: solid 3px red;
          }
        }
        input,
        textarea {
          width: 100%;
          padding: 2vw;
          border: solid 1px gray;
          border-radius: 5px;
          box-shadow: 0px 0px 6px #04040475;

          &.Correct {
            border: solid 1px green;
          }
          &.NotCorrect {
            border: solid 1px red;
          }
        }
      }
      span {
        color: red;
        font-size: 3.5vw;
        font-weight: 600;
      }
    }
    button {
      background-color: $Prim;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 2vw;
      margin-right: 3vw;
      box-shadow: 0px 0px 6px #04040475;
      font-weight: 600;
    }
    a {
      text-decoration: underline;
    }
  }
  &#PageNotFound {
    height: 70vh;
  }
}
#Footer {
  padding: 4vw 4vw 8vw;
  background-color: $Third;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  article {
    display: flex;
    justify-content: space-between;
    gap: 5vw;

    ul {
      h3 {
        color: white;
        text-transform: uppercase;
        font-size: 4vw;
        padding-bottom: 1.3vw;
      }
      li {
        color: white;
        font-size: 3vw;
        line-height: 1.3;
        a {
          color: white;
        }
      }
    }
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 5vw;
    img {
      width: 10vw;
    }
  }
}

@media (width > 768px) {
  header {
    #HeaderWrapper {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 3vw;
    }
    #Search {
      div {
        width: 40vw;
      }
      input {
        height: 2vw;
      }
      button {
        width: 4vw;
        height: 4vw;
      }
    }
    #HeaderNav {
      text-transform: uppercase;
      display: block;
      a {
        padding-right: 0;
        padding-left: 2vw;
      }
    }
    .hamburger-react {
      display: none;
    }
  }
  
  main {
    padding: 0vw 5vw 10vw;

    #Banner {
      width: 100%;
      figure {
        width: 100%;
        flex-direction: row;
      }
      figcaption {
        width: 40%;
        border: 2px solid $Sec;
        text-align: right;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
          font-size: 2vw;
          &.Dato {
            font-size: 2vw;
            padding: 0;
          }
        }
        hr {
          height: 0;
          margin: 0;
        }
        h2 {
          font-size: 4vw;
        }
        h3 {
          font-size: 3vw;
        }
      }
      img {
        width: 60%;
        object-fit: cover;
      }
    }
    &#Home {
      h1 {
        display: none;
      }
      #ThreeCards {
        padding-top: 5vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1vw;
        figure {
          width: 100%;
          figcaption {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 50%;
            padding: 2vw;
            gap: 0;
            p {
              font-size: 2vw;
              &.Dato {
                font-size: 1vw;
                padding: 0;
              }
            }
            hr {
              height: 0;
              margin: 0;
            }
            h2 {
              font-size: 2.5vw;
            }
            h3 {
              font-size: 2vw;
            }
            ul {
              width: 100%;
              display: flex;
              justify-content: right;
              align-items: center;
              gap: 1vw;
              margin-top: 2vw;
              li {
                a {
                  color: white;
                  text-transform: uppercase;
                  font-weight: 600;
                  padding: 1vw;
                  background-color: $Third;
                }
                &:nth-child(2) {
                  a {
                    background-color: $Prim;
                  }
                }
              }
            }
          }
          img {
            width: 100%;
            height: 35vw;
            object-fit: cover;
            border: 10px solid $Sec;
          }
        }
      }
    }
    &#Forestillingerevents {
      #AllCards {
        padding-top: 5vw;
        #Oversigt {
          font-size: 5vw;
        }
      }
    }
  }
}

@media (width > 1024px) {
  #LoaderWrapper {
    svg {
      width: 10vw;
    }
  }
  header {
    background-color: white;
    height: 10vw;
    padding: 0 7vw;
    &#Hide {
      top: -10vw;
    }
    #HeaderWrapper {
      width: auto;
    }
    #Search {
      div {
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        opacity: 50%;
        &:hover {
          opacity: 100%;
        }
      }
      input {
        height: 1vw;
        width: 20vw;
        padding: 1vw;
        font-size: 1vw;
        &::placeholder {
        }
      }
      button {
        width: 2vw;
        height: 2vw;
  
        svg {
          width: 50%;
          height: 50%;
        }
      }
    }
    #SearchResult {
      right: 0;
      padding: 1vw;
      width: 100%;
      gap: 1vw;
      p {
        font-size: 1vw;
      }
      a {
        font-size: 1vw;
      }
    }
    #HeaderNav {
      text-transform: uppercase;
      display: block;
      a {
        font-size: 1vw;
        padding-right: 0;
        padding-left: 3vw;
      }
    }
    .hamburger-react {
      display: none;
    }
  }
  main {
    padding: 0vw 7vw 10vw;

    #Banner {
      width: 100%;
      figure {
        width: 100%;
        flex-direction: row;
      }
      figcaption {
        width: 25%;
        border: 2px solid $Sec;
        text-align: right;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
          font-size: 1vw;
          &.Dato {
            font-size: 1vw;
            padding: 0;
          }
        }
        hr{
          margin: 0;
        }
        h2 {
          font-size: 3vw;
        }
        h3 {
          font-size: 2vw;
        }
      }
      img {
        width: 75%;
        height: 25vw;
        object-fit: cover;
        object-position: center;
      }
    }
    &#Home {
      h1 {
        display: none;
      }
      #ThreeCards {
        padding-top: 5vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1vw;
        figure {
          width: 100%;
          figcaption {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 50%;
            padding: 2vw;
            gap: 0;
            p {
              font-size: 1vw;
              &.Dato {
                font-size: 1vw;
              }
            }
            hr {
              height: 0;
            }
            h2 {
              font-size: 3vw;
            }
            h3 {
              font-size: 2vw;
            }
            ul {
              width: 100%;
              display: flex;
              justify-content: right;
              align-items: center;
              gap: 1vw;
              li {
                a {
                  color: white;
                  text-transform: uppercase;
                  font-weight: 600;
                  padding: 1vw;
                  background-color: $Third;
                }
                &:nth-child(2) {
                  a {
                    background-color: $Prim;
                  }
                }
              }
            }
          }
          img {
            width: 100%;
            height: 35vw;
            object-fit: cover;
            border: 10px solid $Sec;
          }
        }
      }
    }
    &#Forestillingerevents {
      #AllCards {
        padding-top: 5vw;
        width: 100%;
        display: flex;
        gap: 1vw;
        flex-direction: column;
          #Oversigt {
          font-size:3vw;
        }
        figure {
          height: 7vw;
          display: flex;
          box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
          &:hover {
            ul {
              right: 0%;
            }
          }
        }
        figcaption {
          position: relative;
          width: 100%;
          border: 2px solid $Sec;
          text-align: left;
          padding: 1vw;
          display: flex;
          overflow: hidden;
          transition: 5s;
          justify-content: space-between;
          div {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            &:nth-child(2) {
              width: 50%;
              padding-left: 0vw;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
            }
  
            hr {
              border: solid 1px;
            }
            h2 {
              display: flex;
              align-self: center;
              font-size: 2vw;
            }
          }
          p {
            font-size: 1.5vw;
            text-transform: uppercase;
            display: flex;
            justify-self: center;
            &.Dato {
              font-size: 1.5vw;
              font-weight: 600;
              line-height: 1;
              padding-bottom: 0vw;
            }
          }
        }
        img {
          height: 100%;
          width: 7vw;
        }
        ul {
          background-color: rgba(255, 0, 0, 0);
          position: static;
          width: fit-content;
          height: 100%;
          top: 0;
          right: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2vw;
          transition: 1s;
          li {
            a {
              color: white;
              text-transform: uppercase;
              font-weight: 600;
              padding: 1.5vw;
              font-size: 1vw;
              background-color: $Third;
            }
            &:nth-child(2) {
              a {
                background-color: $Prim;
              }
            }
          }
        }
  
      }
    }
    &#EventDetails {
      h1{
        display: none;
      }
      figure {
        display: flex;
        flex-direction: column;
      }
      img {
        width: 100%;
        height: 30vw;
        object-fit: cover;
        border: 10px solid $Sec;
      }
      figcaption {
        border: 2px solid $Sec;
        padding: 1vw;
      }
      #InfoWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0vw;
          .Scene {
            font-size:1.5vw;
          }
          .Dato {
            font-size: 1.5vw;
          }
        }
        .Pris {
          font-size:1.5vw;
          margin-top: 0vw;
        }
      }
      hr {
        margin: 2vw 0 2vw;
      }
      #TitleWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #h1 {
          display: block;
          font-family: $Playfair;
          font-size: 4vw;
        }
        p {
          a {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            padding: 1vw;
            background-color: $Sec;
            font-size: 2vw;
          }
        }
      }
      #DetailsWrapper {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        h2 {
          font-size: 2vw;
          font-weight: 400;
        }
        p {
   
            font-size: 1.5vw;
        }
      }
      #Actors {
        display: flex;

        gap: 4vw;
        margin-top: 4vw;
        figure {
          width: 13vw;
          &.ShowActors {
          }
          &.NotShowActors {
            display: none;
          }
          img{
            width: 100%;
            height: 13vw;
            object-fit: cover;
          }
        }
        figcaption {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0.5vw;
        }
        h3 {
          font-size:1vw;
          font-weight: 400;
        }
        div{
          justify-content: space-between;
          display: flex;
          flex-wrap: wrap;
        }
        p {
          text-align: center;
          color: white;
          text-transform: uppercase;
          font-weight: 600;
          padding: 1vw;
          background-color: $Sec;
          font-size:1vw;
        }
      }
      #Anmeldelser {
        h3 {
          font-size: 2vw;
          font-weight: 400;
          text-transform: uppercase;
          color: $Prim;
          margin-bottom: 3vw;
        }
        p {
          font-size: 1.5vw;
          &:nth-child(1) {
            font-size: 2vw;
          }
          &:nth-child(2) {
            font-size: 1vw;
            font-weight: 600;
            text-transform: uppercase;
            color: $Prim;
            margin-bottom: 0vw;
          }
          &:nth-child(3) {
            font-size: 3vw;
          }
        }
        hr {
          margin: 1vw 0;
        }
        li {
          &:nth-child(2) {
            hr {
              display: none;
            }
          }
        }
      }
      footer {
        padding: 2vw;
        background-color: $Sec;
        h3 {
          color: white;
          font-weight: 400;
          margin-bottom: 1vw;
        }
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1vw;
          .InputWrapper,
          .InputWrapperError {
            display: flex;
            flex-direction: column;
            gap: 1vw;
            &.InputWrapperError {
              input,
              textarea {
              }
            }
            input,
            textarea {
              width: 100%;
              padding: 1vw;
              border-radius: 5px;
              font-size: 1vw;
  
            }
          }
          span {
            font-size: 1vw;
          }
        }
        button {
          padding: 1vw;
          margin-right: 3vw;
        }
      }
    }
    &#Bestilling {
      #Wrapper {
        display: flex;
        flex-direction: column;
        border: 0.2vw solid $Sec;
      }
      h1 {
        display: none;
      }
      img {
        height: 30vw;
        object-fit: cover;
        border: 1vw solid $Sec;
      }
      form {
        padding: 2vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .InputWrapper,
        .InputWrapperError {
          display: flex;
          flex-direction: column;
          gap: 1vw;
          &.InputWrapperError {
            input {
              border: solid 3px red;
            }
          }
          input {
            color: $Prim;
            font-weight: 600;
            width: 100%;
            padding: 1vw;
            border: solid 1px gray;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #04040475;
            font-size: 1vw;

            &::placeholder {
              opacity: 50%;
              text-transform: uppercase;
              font-size: 1vw;
            }
            &.Correct {
              border: solid 1px green;
            }
            &.NotCorrect {
              border: solid 1px red;
            }
          }
        }
        span {
          color: red;
          font-size: 1vw;
        }
  
        button {
          float: right;
          background-color: $Prim;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 1vw;
          margin-left: 3vw;
          margin-right: 0;
          box-shadow: 0px 0px 6px #04040475;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1vw;
        }
      }
      .InputWrapper {
        &:nth-child(7) {
          margin: 3vw auto;
          width: 15%;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          gap:0.5vw;
        }
      }
      .container {
        position: relative;
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        input {
          position: relative;
          opacity: 0%;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 2;
          &:checked ~ .Checkmark {
            background-color: $Third;
            border: solid $Third 3px;
          }
          &:hover ~ .Checkmark {
            background-color: $Sec;
          }
        }
      }
    }
    &#Minside {
      display: flex;
      flex-direction: column;
      gap: 1vw;
      h1 {
        font-family: $Playfair;
        font-size: 3vw;
      }
      p {
        font-size: 1vw;
        padding-bottom: 1vw;
        b {
          font-weight: 600;
          color: $Prim;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        .InputWrapper,
        .InputWrapperError {
          display: flex;
          flex-direction: column;
          gap: 1vw;
          &.InputWrapperError {
            input {
              border: solid 1px red;
            }
          }
          input {
            width: 50vw;
            padding: 2vw;
            border: solid 1px gray;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #04040475;
  
            &.Correct {
              border: solid 1px green;
            }
            &.NotCorrect {
              border: solid 1px red;
            }
          }
        }
        span {
          color: red;
          font-size: 3.5vw;
        }
      }
      button {
        background-color: $Prim;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 2vw;
        margin-right: 3vw;
        box-shadow: 0px 0px 6px #04040475;
      }
      #LogoutButton {
        margin-top: 5vw;
      }
      #Admin {
        float: right;
        display: flex;
        justify-content: right;
        flex-direction: column;
  
        button {
          text-transform: uppercase;
          font-weight: 600;
          width: 100%;
          padding: 1vw;
          font-size: 1vw;
        }
      }
      .EditWrapper {
        h3 {
          margin-top: 0vw;
          font-size: 2vw;
          text-transform: uppercase;
        }
      }
      table {
        padding-top: 2vw;
        width: 100%;
        thead {
          tr {
            th {
              font-size: 1vw;
              text-align: left;
              text-transform: uppercase;
            }
          }
        }
        tbody {
          hr {
            width: 100%;
          }
          tr {
            td {
              font-size: 1vw;
  
              button {
                width: 1.5vw;
                svg {
                  fill: $Sec;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .InputWrapper,
        .InputWrapperError {
          display: flex;
          flex-direction: column;
          gap: 1vw;
          &.InputWrapperError {
            input,
            textarea {
              border: solid 3px red;
            }
          }
          input,
          textarea {
            width: 100%;
            padding: 1vw;
            border: solid 1px gray;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #04040475;
  
            &.Correct {
              border: solid 1px green;
            }
            &.NotCorrect {
              border: solid 1px red;
            }
          }
        }
        span {
          color: red;
          font-size: 1vw;
          font-weight: 600;
        }
      }
      button {
        background-color: $Prim;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 1vw;
        margin-right: 3vw;
        box-shadow: 0px 0px 6px #04040475;
        font-weight: 600;
      }
    }
  
    &#Edit {
      h1{
        font-size: 1vw;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .InputWrapper,
        .InputWrapperError {
          display: flex;
          flex-direction: column;
          gap: 1vw;
          &.InputWrapperError {
            input,
            textarea {
              border: solid 3px red;
            }
          }
          input,
          textarea {
            width: 100%;
            padding: 1vw;
            border: solid 1px gray;
            border-radius: 5px;
            box-shadow: 0px 0px 6px #04040475;
            font-size: 1vw;
  
            &.Correct {
              border: solid 1px green;
            }
            &.NotCorrect {
              border: solid 1px red;
            }
          }
        }
        span {
          color: red;
          font-size: 1vw;
          font-weight: 600;
        }
      }
      button {
        background-color: $Prim;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 1vw;
        margin-right: 1vw;
        box-shadow: 0px 0px 6px #04040475;
        font-weight: 600;
      }
      a {
        text-decoration: underline;
      }
    }
  
  
  }
  #Footer {
    padding: 2vw 7vw 4vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3vw;
    article {
      width: 100%;
      gap: 5vw;
  
      ul {
        h3 {
          font-size: 1.2vw;
          padding-bottom: 0.5vw;
        }
        li {
          font-size: 1vw;
          a {
          }
        }
      }
    }
    nav {
      gap: 1vw;
      img {
        width: 3vw;
      }
    }
  }
  
}
